body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
}

.payment-options {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.payment-option {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 8px;
    width: 45%;
}

.payment-option h3 {
    color: #00FF00; /* Verde brillante */
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}